@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  min-width: 100vh;
  background-color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  min-height: 80px;
  background-color: #1f2937;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
}

a {
  text-decoration: none;
  color: white;
}

nav a {
  padding: 8px;
}

nav a:hover {
  color: teal;
}

header h1 {
  color: teal;
  font-weight: 700;
}

footer {
  display: flex;
  min-height: 80px;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  color: white;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.title-section {
  background-color: #1f2937;
  display: flex;
  padding: 12px;
  justify-content: space-around;
  align-items: center;
  color: white;
}

div.introduction,
div.placeholder {
  padding: 16px;
}
.introduction h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.introduction p {
  margin: 0;
}
