@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  min-height: 80px;
  background-color: #1f2937;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
}

a {
  text-decoration: none;
  color: white;
}

nav a {
  padding: 8px;
}

nav a:hover {
  color: teal;
}

h1 {
  color: teal;
  font-weight: 700;
}
