@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap");

body {
  margin: 0;
  min-width: 100vh;
  background-color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  min-height: 80px;
  background-color: #1f2937;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

nav a {
  padding: 8px;
}

nav a:hover {
  color: teal;
}

header h1 {
  color: #f9faf8;
  font-size: 24px;
}

footer {
  display: flex;
  min-height: 80px;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  color: white;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.hero-section {
  background-color: #1f2937;
  display: flex;
  padding: 12px;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.hero-text {
  max-width: 400px;
}

div.hero-text,
div.placeholder {
  padding: 16px;
}
.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero-text p {
  margin: 0;
  color: #cccccc;
}

.placeholder img {
  width: 400px;
}

.hero-text button {
  padding: 6px 24px;
  background-color: #3882f6;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  margin: 12px 0;
}

.blocks-section {
  text-align: center;
}

.blocks-section h1 {
  margin-bottom: 42px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.blocks-section img {
  width: 200px;
  height: 200px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 42px;
  margin-bottom: 24px;
}

.info {
  max-width: 200px;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote-section div {
  max-width: 800px;
  margin: auto;
  padding: 32px 0;
}

.quote-section p {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.quote-section h4 {
  text-align: end;
}
